@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
body, h1, h2, h3, h4, h5, h6, ul, li, header, section {
    margin: 0;
    box-sizing: border-box;
}
.inner {
    border: 1px solid red;
    max-width: 1280px;
    width: 1280px;
    height: 20px;
}
nav img {
    border: 1px solid green;
    display: inline;
}
.nav {
    border: 1px solid green;
    position: relative;
    display: inline;
}
.nav a {
    border: 1px solid red;
    display: inline-block;
}
a:hover {
    color: #e70034;
}
#section1 {
    border: 1px solid red;
    background-image:url("../img/article1.jpg");
    /* background-size: 15%; */
    width: 100vh;
    height: 100vh;
}

#section2 {
    border: 5px solid blue;
}
